*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --background: #000;
    --primary: #FFFF00;
    --secondary: #FF6600;
    --text: #FFF;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
}

.landing__page{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;

    .landing__page__container{
        margin:auto;
        width: 80%;

        .logo__container{
            text-align:center;
            padding: 7em 3em 3em 3em;
    
            .logo{
                width: 30em;
            }
        }

        .text{
            justify-content: center;
            text-align: center;

            h1{
                padding: 1em 0;
                letter-spacing: 10px;
            }

            h3{
                letter-spacing: 5px;
            }

            span{
                color: var(--primary);
            }
        }

        .media{
            text-align: center;
            padding: 1em 0;

            img{
                margin: 0.5em;
                border: 2px solid var(--secondary);
                border-radius: 50%;
                cursor: pointer;
                transition: transform .3s;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        .contact__button{
            margin: auto;
            width: 10%;
            background-color: var(--primary);
            color: #000;
            border-radius: 5px;
            text-align: center;
            padding: 1em 2.5em;
            transition: transform .3s;
            cursor: pointer;
            
            
            a{
                color: #000;
                text-decoration: none;
                font-weight: bold;
            }

            &:hover{
                transform: scale(0.95);
                box-shadow: 0px 0px 3px 3px var(--secondary);
            }
        }
    }
}

.about__page{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;

    .heading{
        padding: 2em;
        text-align: center;

        h1{
            color: var(--primary);
            font-size: 3em;
        }

    }

    .technologies{
        margin: auto;
        width: 80%;
        text-align: center;
        padding: 1em;

        h2{
            padding-bottom: 1em;
        }

        .tech__list{
            text-align: center;
            padding: 2em;

            .tech{
                padding: 1em 2em;
                cursor: pointer;
            }
        }
    }

    .process__container{
        margin: auto;
        width: 80%;
        display: flex;

        .plan {
            flex: 1;
            h3{
                padding: 1em;
                text-align: center;
                color: var(--primary);
                font-size: 1.5em;
            }
        }

        .design{
            flex: 1;
            h3{
                padding: 1em;
                text-align: center;
                color: var(--primary);
                font-size: 1.5em;
            }
        }

        .develop{
            flex: 1;
            h3{
                padding: 1em;
                text-align: center;
                color: var(--primary);
                font-size: 1.5em;
            }
        }

        .arrow{
            flex: 1;
            margin: 0 1em 0 1em;
            text-align: center;

            p{
                font-size: 3em;
                position: relative;
                color: var(--primary);
                top: 30%;
                
            }
        }

        .process__illustration{
            width: 25em;
        }

        .second{
            width: 21em;
        }
    }

    .steps{
        padding: 3em;
        text-align: center;

        .steps__illustration{
            width: 30em;
        }
    }
}

.catalogue__page{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;

    .heading{
        padding: 5em 3em 5em 3em;
        text-align: center;

        h1{
            color: var(--primary);
        }

        h2{
            padding: 1em 3em 1em 3em;
        }
    }

    .items{
        margin: auto;
        width: 40%;
        padding: 1.5em;

        .items__img{
            width: 100%;
        }
    }

    .section {
        clear: both;
        padding: 0px;
        margin: 0px;
    }

    /*  COLUMN SETUP  */
    .col {
        display: block;
        float:left;
        margin: 1% 0 1% 1.6%;
        text-align: center;
        background-color: #FFF;
        color: #000;
        height: 22em;
        transition: 0.2s ease-in-out;

        h3{
            color: var(--secondary);
        }

        .item__description{
            padding: 1em 4em;
            text-align: center
        }

        &:hover{
            transform: scale(0.95);
            box-shadow: 0px 0px 20px var(--primary);
        }
    }

    .col:first-child { margin-left: 0; }

    /*  GROUPING  */
    .group:before,
    .group:after { content:""; display:table; }
    .group:after { clear:both;}
    .group { zoom:1; /* For IE 6/7 */ }

    .span_3_of_3 { width: 100%; }
    .span_2_of_3 { width: 66.13%; }
    .span_1_of_3 { width: 32.26%; }
}

.contact__page{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;

    .heading{
        padding: 5em;
        text-align: center;

        h1{
            color: var(--primary);
            font-size: 3em;
        }

    }

    
.container {
    margin: auto;
    width: 40%;
    height: 45%;
  }
  
  .file {
    width: 100px;
    height: 30px;
    position: relative;
  }
  
  .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 50px 0 10px;
    transition: 0.5s;
  }
  
  .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--primary);
  }
  
  input,
  textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
  }
  
  .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
    color: var(--primary);
  }
  
  input:focus + .text{
    top: -35px;
    left: -10px;
  }
  
  input:valid + .text {
    top: -35px;
    left: -10px;
  }
  
  
  .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--primary);
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
  }
  
  input:focus ~ .line {
    height: 100%;
  }
  
  input:valid ~ .line{
    height: 100%;
  }
  
  .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
  }
  
  textarea{
    height: 100%;
    resize: none;
  }
  
  textarea:focus + .text {
    top: -35px;
    left: -10px;
  }
  
  textarea:valid+ .text {
    top: -35px;
    left: -10px;
  } 
  
  textarea:focus ~ .line {
    height: 100%;
  }
  
  textarea:valid ~ .line {
    height: 100%;
  }
  
  .btn{
    border: 3px solid var(--primary);
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #000;
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .submit-btn {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }   
  
  .btn:hover {
    transform: scale(0.95);
    border: 3px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);
    box-shadow: 0 0 15px var(--secondary);
  }
  
  .media__footer{
    text-align: center;
    margin: auto;
    width: 15%;
    .logo{
        width: 10em;
    }
  }

  p{
      padding: 3em;
      text-align: center;
      color: var(--primary);
  }
}


/*  GRID OF THREE  */


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}